<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-facture-heading" jhiTranslate="gestFactureProjectApp.facture.home.createOrEditLabel">Create or edit a Facture</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestFactureProjectApp.facture.numero" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numero')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestFactureProjectApp.facture.dateDelivrance" for="field_dateDelivrance">Date Delivrance</label>
                    <div class="d-flex">
                        <input id="field_dateDelivrance" type="datetime-local" class="form-control" name="dateDelivrance" formControlName="dateDelivrance" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestFactureProjectApp.facture.dateLimitePaiement" for="field_dateLimitePaiement">Date Limite Paiement</label>
                    <div class="d-flex">
                        <input id="field_dateLimitePaiement" type="datetime-local" class="form-control" name="dateLimitePaiement" formControlName="dateLimitePaiement" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestFactureProjectApp.facture.consommation" for="field_consommation">Consommation</label>
                    <input type="text" class="form-control" name="consommation" id="field_consommation"
                           formControlName="consommation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestFactureProjectApp.facture.etat" for="field_etat">Etat</label>
                    <input type="text" class="form-control" name="etat" id="field_etat"
                           formControlName="etat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestFactureProjectApp.facture.typeFacture" for="field_typeFacture">Type Facture</label>
                    <select class="form-control" name="typeFacture" formControlName="typeFacture" id="field_typeFacture">
                        <option value="SENELEC">{{ 'gestFactureProjectApp.TypeFacture.SENELEC' | translate }}</option>
                        <option value="SDE">{{ 'gestFactureProjectApp.TypeFacture.SDE' | translate }}</option>
                        <option value="SONATEL">{{ 'gestFactureProjectApp.TypeFacture.SONATEL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestFactureProjectApp.facture.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
